body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: green;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

h1{
    color: goldenrod;
    font-size: 45px;
}

#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    width: 150px;
    height: 40px;
    background: goldenrod;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}